.board {
    border: 1px solid black;
    margin: 10px auto;
    padding: 10px;
    width: fit-content;
}

.boardForm {
    text-align: center;
}

.boardSize {
    display: inline-block;
    height: 26px;
    margin: 5px;
    width: 50px;
}

.buttonSet1 {
    display: block;
    text-align: center;
}

.buttonSet2 {
    display: block;
    text-align: center;
}

.counter {
    text-align: center;
}

.formBtn {
    margin: 3px;
    width: 100px;
}

.group-inline-block {
    display: inline-block;
}

.pattern {
    cursor: pointer;
    display: inline-block;
    height: 150px;
    margin-right: 3px;
    width: 150px;
}

.patternList {
    margin: 15px auto;
    text-align: center;
}

.row {
    flex-wrap: nowrap !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.size-true, .speed-true {
    background: rgb(191, 191, 242);
}

.theme {
    display: inline-block;
    height: 50px;
    margin-right: 3px;
    width: 50px;
}

.theme:last-child {
    margin-right: 0px;
}

.theme-light {
    border: 1px solid black;
    background: #fff;
}

.theme-dark {
    border: 1px solid black;
    background: gold;
}

.theme-blue {
    border: 1px solid black;
    background: rgb(0, 132, 255);
}

.theme-green {
    border: 1px solid black;
    background: lightgreen;
}

.theme-wild {
    border: 1px solid black;
    background: rgb(172, 14, 172);
}

@media only screen and (max-width: 990px) {
    .patternList {
        display: none;
    }
}