.board {
    border: 1px solid black;
    margin: 10px auto;
    padding: 10px;
    width: fit-content;
}

.board-light {
    background: #fff;
}

.board-dark {
    background: rgb(61, 61, 61);
}

.board-blue {
    background: rgb(234, 245, 248);
}

.board-green {
    background: rgb(62, 177, 62);
}

.board-wild {
    background: lightgray;
}

.boardForm {
    text-align: center;
}

.boardSize {
    display: inline-block;
    height: 26px;
    margin: 5px;
    width: 50px;
}

.buttonSet1 {
    display: block;
    text-align: center;
}

.buttonSet2 {
    display: block;
    text-align: center;
}

.counter {
    text-align: center;
}

.formBtn {
    margin: 2px;
    width: 100px;
}

.group-inline-block {
    display: inline-block;
}

.main {
    height: 100vh;
    padding: 20px;
}

.main-light {
    background: rgb(252, 252, 252);
}

.main-dark {
    background: rgb(161, 161, 161);
}

.main-blue {
    background: rgb(61, 61, 125);
}

.h4-light {
    color: white !important;
}

.main-green {
    background: rgb(61, 120, 61);
}

.pattern {
    cursor: pointer;
    display: inline-block;
    height: 150px;
    margin-right: 3px;
    width: 150px;
}

.patternList {
    margin-top: 35px;
    text-align: center;
}

.row {
    flex-wrap: nowrap !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.size-true, .speed-true {
    background: yellow;
}

.subTitle {
    font-size: 12px;
    font-weight: 400;
    margin-top: 5px;
}

.theme {
    cursor: pointer;
    display: inline-block;
    height: 50px;
    margin-right: 3px;
    padding: 20px;
    width: 50px;
}

.theme:last-child {
    margin-right: 0px;
}

.themeList {
    margin-top: 35px;
}

.theme-light {
    border: 10px solid rgb(242, 242, 242);
    background: black;
}

.theme-dark {
    border: 10px solid rgb(61, 61, 61);
    background: gold;
}

.theme-blue {
    border: 10px solid rgb(234, 245, 248);
    background: steelblue;
}

.theme-green {
    border: 10px solid rgb(62, 177, 62);
    background: lightgreen;
}

.theme-wild {
    border: 10px solid lightgray;
    background: rgb(172, 14, 172);
}

.title {
    margin-bottom: 15px;
}
